<p style="text-align: center;">Details</p>
<hr size="5" width="100%" color="black" style="margin: auto; margin-bottom: 10px;">
<div class="card" style="width: 18rem;">
    <div>
        <img class="card-img-top" src="..." alt="Card image cap">   
        <div class="rating-and-review">
          <div class="rating-text">Rating: </div>
          <div class="review-number">Reviews: </div>
        </div>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Cras justo odio</li>
      <li class="list-group-item">Dapibus ac facilisis in</li>
      <li class="list-group-item">Vestibulum at eros</li>
    </ul>
</div>